.event-preview {
    @include page-section-bg;

    padding: toRem(30);
    width: clamp(toRem(300), 100%, toRem(600));
}

.event-preview__main {
    display: flex;
    gap: toRem(40);

    @include respond-to(medium) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.event-preview__banner-wrapper {
    padding: toRem(20);
    height: max-content;
    background-color: var(--tertiary-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(15);
    border-radius: toRem(12);
    width: 50%;
    box-shadow: toRem(-2) toRem(9) toRem(24) toRem(-12) rgba(0, 0, 0, 0.3);

    @include respond-to(medium) {
        width: 100%;
    }
}

.event-preview__banner {
    object-fit: cover;
    object-position: top center;
    max-height: toRem(200);
    border-radius: toRem(12);
    width: 100%;
    border: toRem(1) solid var(--tertiary-dark);
}

.event-preview__info {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
    width: 50%;
    justify-content: space-between;

    @include respond-to(medium) {
        width: 100%;
        gap: toRem(20);
    }
}

.event-preview__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: toRem(10);
}

.event-preview__price-lbl {
    font-size: toRem(18);
    font-weight: light;
    color: var(--primary-main);

    &--free {
        text-align: center;
        font-weight: 500;
        margin-top: toRem(10);
        text-transform: uppercase;
    }
}

.event-preview__price {
    font-size: toRem(20);
    font-weight: 600;
    color: var(--primary-main);
}

.event-preview__title {
    font-size: toRem(40);
    text-transform: uppercase;
    letter-spacing: toRem(1);
    color: var(--primary-main);
    word-wrap: break-word;
}

.event-preview__subtitle {
    font-size: toRem(22);
    font-weight: lighter;
    color: var(--primary-light);
    margin-top: toRem(8);
}

.event-preview__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(20);
    margin-top: toRem(20);
}