.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--nav-bar-height);
    width: 100%;
    padding: toRem(10) toRem(45);
    background: var(--tertiary-light);
    // background: linear-gradient(0deg, var(--primary-light) 33%, var(--primary-main) 78%, var(--primary-dark) 100%);

    // box-shadow: -2px 9px 24px -12px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: -2px 9px 24px -12px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 3;
}

.nav-bar__logo {
    color: var(--primary-main);
    font-size: toRem(34);
    user-select: none;

    transition-property: color transform;
    transition: .2s ease;

    &:hover {
        cursor: pointer;
        color: var(--primary-dark);
        transform: scale(1.02);
    }
}

.nav-bar__actions {
    display: flex;
    justify-content: flex-end;
    gap: toRem(20);
}

.nav-bar__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition-property: color;
        transition: .2s ease;
    }

    &:hover {
        cursor: pointer;

        svg {
            color: var(--tertiary-dark);
        }
    }
}

.nav-bar__header {
    display: flex;
    align-items: center;
    gap: toRem(15);
}

.nav-bar__address {
    color: var(--secondary-dark);
    border: toRem(1) solid var(--secondary-light);
    padding: toRem(10);
    border-radius: toRem(8);
    font-weight: 500;
    letter-spacing: toRem(0.5);
}